.contato {
    display: flex;
    background: var(--branco-azul);
}

.contato-divisao {
    display: flex;
}

.contato-mensagem-erro {
    display: none;
}

label {
    display: none;
}

.contato-legenda {
    font-weight: 400;
    font-size: 1rem;
}
