.experiencia-area-direita {
    display: flex;
    margin: 2rem 0;
}

.experiencia-area-esquerda {
    display: flex;
    margin: 2rem 0;
    flex-direction: row-reverse;
}

.experiencia-img {
    width: 70%;
    height: auto;
}

.experiencia-titulo {
    font-weight: 600;
}

.experiencia-descrissao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: auto;
    padding: 1rem;
}

.repositorio {
    background: transparent;
    border: 1px solid var(--azul-claro);
    color: var(--azul-claro);
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin-bottom: 1rem;
}

.ver-demo {
    background: var(--azul-claro);
    border: 1px solid var(--azul-claro);
    color: var(--branco);
    cursor: pointer;
    width: 100px;
    height: 40px;
}

@media screen and (max-width: 800px) {
    
    .experiencia-area-direita, .experiencia-area-esquerda {
        flex-direction: column;
    }

    .experiencia-img {
        width: 100%;
    }

    .experiencia-descrissao {
        width: 90%;
    }
}