:root {
    --branco: #FFFFFF;
    --branco-cinza: #F5F5F5;
    --branco-azul: #EAF2FD;
    --cinza-escuro: #464646;
    --azul-claro: #4169E1;
    --fonte: 'Raleway', sans-serif;
}

body {
    background: var(--branco-cinza);
    font-family: var(--fonte);
    color: var(--cinza-escuro);
}

.containe{
    padding: 0 5rem;
}

.titulos-sections {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

.hobbies {
    height: 100px;
}

.formacao {
    height: 100px;
}

.experiencia {
    height: 100px;
}