:root {
    --branco: #F5F5F5;
    --branco-azul: #EAF2FD;
    --cinza-escuro: #464646;
    --fonte: 'Raleway', sans-serif;
}

body {
    background: var(--branco);
    font-family: var(--fonte);
    color: var(--cinza-escuro);
}

.containe{
    padding: 0 2rem;
}

.titulos-sections {
    font-weight: 600;
    font-size: 1.5rem;
}

.skills {
    height: 100px;
}

.hobbies {
    height: 100px;
}

.formacao {
    height: 100px;
}

.experiencia {
    height: 100px;
}

.contato {
    height: 100px;
    background: var(--branco-azul);
}