:root {
    --branco: #FFFFFF;
    --branco-cinza: #F5F5F5;
    --branco-azul: #EAF2FD;
    --cinza-escuro: #464646;
    --azul-claro: #4169E1;
    --fonte: 'Raleway', sans-serif;
}

body {
    background: var(--branco-cinza);
    font-family: var(--fonte);
    color: var(--cinza-escuro);
}

.containe {
    padding: 0 5rem;
}

.titulos-sections {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
}

p {
    font-weight: 400;
    padding: 0.5rem 0;
}

legend {
    font-weight: 600;
}

li {
    list-style: inside;
}

ul {
    text-align: left;
}

.botao-link {
    text-decoration: none;
    margin-right: 1rem;
}



@media screen and (max-width: 800px) {

    html{
        font-size: 14px;
    }

    .containe {
        padding: 0 2rem;
    }
}

@media screen and (max-width: 480px) {

    html{
        font-size: 14px;
    }

    .containe {
        padding: 0 1rem;
    }
}